<div>
  <h1 class="landing centered-text">Welcome to GameConnect</h1>
  <a href="/login"><%= image_tag 'gameconnect.jpg', :style => "display: block; margin-left: auto; margin-right: auto" %></a><br>
</div>
