<h3>Search the Database</h3>
<form id="search_form" action="/search" method="get">
    <fieldset>
        <div>
            <label for='title'>Title</label>
            <input id="title" type="text" name="title_search" placeholder="Title">
        </div>

        <div>
            <label for="platform">Platform</label>
            <input id="platform" type="text" name="platform_search" placeholder="Platform">
        </div>

        <div>
            <label for='developer'>Developer</label>
            <input id="developer" type="text" name="developer_search" placeholder="Developer">
        </div>

        <div>
            <label for="genre">Genre</label>
            <input id="genre" type="text" name="genre_search" placeholder="Genre">
        </div>

        <div>
            <button type="submit" id="search_button">Submit</button>
        </div>
    </fieldset>
</form><br>